.hide{
    display: none;
}
.list-options{
    width: 100%;
    border: 1px solid #e5e7ee;
    height: 160px;
}
.list-options ul{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.list-options ul::-webkit-scrollbar{
    width: 0;
}
.list-options ul li{
    width: 98%;
    height: 34px;
    background-color: white;
    border: 1px solid #e5e7ee;
    margin: 8px auto;
    font-weight: 400;
    color: #3a3e48;
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.selecected{
    background-color: light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
}